<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
                <div id="logo_container">
                    <a href="/" target="_blank"><img id="logo" src="/img/logo.png" alt="logo Image1"></a>
                </div>

                <nav class="navbar">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/product/package">Package</a>
                        </li>
                    </ul>
                    <div>
                        <a href="/login">log in</a>
                    </div>
                    <div>
                        <a href="/registration">sign up</a>
                    </div>
                </nav>
            </nav>

        </header>

        <main>
            {{{body}}}
        </main>

        <footer>
            <div class="grid_Container_gifs">
                <div class="grid_Container_gifs">
                    <h5>About Livefit</h5>

                    <ul>
                        <li>
                            <a href="https://livefitfood.ca/pages/affiliate-log-in">Affiliates</a>
                        </li>
                        <li>
                            <a href="https://livefitfood.ca/collections/e-gift-cards">Gift Card</a>
                        </li>
                        <li>
                            <a href="https://livefitfood.ca/pages/student-discount">Student Discount</a>
                        </li>

                    </ul>

                </div>
                <div class="grid_Container_gifs">

                    <!-- Links -->
                    <h5 >Help & Support</h5>

                    <ul >
                        <li>
                            <a href="https://livefitfood.ca/pages/faq">FAQ</a>
                        </li>
                        <li>
                            <a href="https://livefitfood.ca/pages/terms-of-service">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="https://livefitfood.ca/pages/contact-us">Contact Us</a>
                        </li>
                    </ul>

                </div>
                <div class="grid_Container_gifs">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Our Menu</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="/product/package">Meal Packages</a>
                        </li>
                        <li>
                            <a href="https://livefitfood.ca/pages/menu">Individual Meals</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->
                <div class="grid_Container_gifs">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Livefit App</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="https://livefitfood.ca/pages/app" target="_blank">
                                <img src="/img/android.png.webp" alt="item Image1"></a>
                            <a href="https://livefitfood.ca/pages/app" target="_blank">
                                <img src="/img/apple.png.webp" alt="item Image1"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>email: gkim61@myseneca.ca</div>
            <div>© 2020 Copyright: Gihoon Kim (133229187)</div>
        </footer>

    </body>
</html>