<div>
    <div>
        <h1>Thank you for signing up!</h1>
        <h2>Registration Complete!</h2>

        <form method="get" action="/">
            <input type="submit" value="Go to home"/><br/><br/><br/>
        </form>
    </div>
</div>