<div id="package_mainheader">
    <h1>Our Meal Packages</h1>
</div>

<h1>Pick a package, choose your meals, achieve your goal - it's that easy!</h1>

<div class="grid_Container_gifs">
    {{#each data}}

        <div>
            <img src="/img/{{this.imgPath}}">
            <br>
            Title :
            {{this.title}}
            <br>
            Price :
            {{this.price}}

        </div>
    {{/each}}
</div>

<h1>Want to see individual meals instead?</h1>
<button class="button hover">
    <a href="https://livefitfood.ca/pages/order-individual-meals">OUR FULL MENU</a>
</button>